body, html, main {
    font-family: 'Kanit', sans-serif;
    }
    .navbar {background-color: black; color: white;}
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar a {font-family: Arial, Helvetica, sans-serif;}
    .footer .nav-item:hover .nav-link {color: white;}
    .footer .nav-link{color:rgb(158, 0, 158);}

    .icons {
        text-align: center;
    }
    .div {
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 15%;
        padding-right: 15%;
        background-image: url('images/2.jpeg');
        color: rgb(255, 255, 255);
        text-align: justify;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .divi {
        padding-left: 15%;
        padding-right: 15%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: justify;
    }
    .divii {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: justify;
    }
    .divi1 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(255, 255, 255);
        color: black;
        position: relative;
        text-align: justify;
    }
    /* .divi1 .wrapper {
        z-index: 1;
    }
    .divi1:after {
        content: '';
        position:absolute;
        background-position: right;
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
    } */
    .divi2 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        color: rgb(189, 185, 185);
        position: relative;
        text-align: justify;
    }
    /* .divi2 .wrapper {
        z-index: 1;
    }
    .divi2:after {
        content: '';
        position: absolute;
        background-position: right;
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 0;
        opacity: .5;
    } */
    .divi3 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        position: relative;
        text-align: justify;
    }
    /* .divi3 .wrapper {
        z-index: 1;
    }
    .divi3:after {
        content: '';
        position: absolute;
        background-position: right;
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: .2;
    } */
    .divp1 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color:rgb(0, 0, 0);
        color: rgb(189, 185, 185);
        position: relative;
        text-align: justify;
    }
    .divp1 .wrapper {
        z-index: 1;
    } 
    /* .divp1:after {
        content: '';
        position: absolute;
        background-image: url(images/logo-teleflux_500x500px1.gif);
        background-position: right  ;
        background-size:contain;
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
    } */
    .divp2 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color:rgb(255, 255, 255);
        color: black;
        position: relative;
        text-align: justify;
    }
    .divp2 .wrapper {
        z-index: 0;
    }
    /* .divp2:after {
        content: '';
        position: absolute;
        background-image: url(images/instagram_profile_image.png);
        background-position: right;
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
    } */

    .footer {
        padding-left: 15%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: auto;
        background-color:rgb(0, 0, 0);
        color:rgb(158, 0, 158);
        text-align: justify;
    }
    .divser {
        text-align: justify;
        padding-left: 15%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: justify;
    }
    .divser1 {
        text-align: justify;
        padding-left: 15%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        color: rgb(189, 185, 185);
        text-align: justify;
    }
    .feather {
        width: 100px;
        height: 100px;
        stroke: currentColor;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
      }