body, html {

    font-family: Arial, Helvetica, sans-serif;
}

	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar a {font-family: Arial, Helvetica, sans-serif;}
    .footer .nav-item:hover .nav-link {color: white;}
    .footer .nav-link{color:gray;}